In [1]:
print(42)

42

In [2]:
abs(-43)

43

In [3]:
round(2/3, 5)

0.66667

In [4]:
int(3.99)

3

In [5]:
type(int("3"))

int

In [6]:
float(7)

7.0

In [8]:
print(type((2 * 1.5)))

<class 'float'>

In [9]:
#degrees_fahrenheit = (9 / 5) * degrees_celcius +32

In [11]:
def c_to_f(degrees_c):
    degrees_f = (9/5) * degrees_c + 32
    return degrees_f

In [12]:
c_to_f(30)

86.0

In [13]:
def divide(dividend, divisor) :
    return dividend/ divisor

In [14]:
divide(0,2)

0.0

In [15]:
round(divide(3,2))

2

In [16]:
divide(3,2)

1.5

In [17]:
def calc_sales_tax(price, tax_rate = 0.13):
    return price * tax_rate

In [19]:
calc_sales_tax(5, 0.15)

0.75

In [23]:
def calc_total_bill(price, tax_rate = 0.13, tip_rate = 0.15):
    tax = price *tax_rate
    tip = price * tip_rate
    return price + tax + tip

In [25]:
calc_total_bill ( 100)

128.0

In [27]:
help (c_to_f )

Help on function c_to_f in module __main__:

c_to_f(degrees_c)

In [28]:
def is_even_number(number) :
    return number % 2 == 0

In [29]:
is_even_number(9)

False

In [32]:
def is_even_number(number) :
    return number % 2 == 0
assert is_even_number(23423234334)

In [33]:
"pyhton is great"

'pyhton is great'

In [34]:
'python learn'

'python learn'

In [35]:
"lets learn'

SyntaxError: EOL while scanning string literal (3002404483.py, line 1)

In [36]:
"Let's see if this works"

"Let's see if this works"

In [37]:
'''
Line 1
Line 2
'''

'\nLine 1\nLine 2\n'

In [38]:
"Line 1
Line 2
Line 3"

SyntaxError: EOL while scanning string literal (2167480503.py, line 1)

In [47]:
print('This is \" my birthday"')

This is " my birthday"

In [48]:
'ha'*3

'hahaha'

In [50]:
'hello'+"world" + 2024

TypeError: can only concatenate str (not "int") to str

In [52]:
"apple" =="apple"

True

In [53]:
first_name = "Ada"
last_name = "Lovelace"

In [54]:
print('Initials are ', first_name[0], last_name [0])

Initials are  A L

In [55]:
last_name[2:4]

've'

In [57]:
last_name[:5]

'Lovel'

In [58]:
phone_number = '+1 555-123-4567'
phone_number [3:6]

'555'

In [59]:
phone_number[-4:]

'4567'

In [60]:
job_qualifications = '''The successfull applicant will be proficient in 
R, Python'''

In [61]:
job_qualifications

'The successfull applicant will be proficient in \nR, Python'

In [62]:
'R' in job_qualifications

True

In [64]:
'rz' in job_qualifications

False

In [65]:
len("hellooooo")

9

In [66]:
len(job_qualifications)

58

In [67]:
yell = 'I am not yelling'
yell.upper()

'I AM NOT YELLING'

In [68]:
yell

'I am not yelling'

In [69]:
yell.count('l')

2

In [71]:
'filename.txt'.endswith("t")

True

In [73]:
'long file name with lots & lots of spaces.csv'.replace('','_')

'_l_o_n_g_ _f_i_l_e_ _n_a_m_e_ _w_i_t_h_ _l_o_t_s_ _&_ _l_o_t_s_ _o_f_ _s_p_a_c_e_s_._c_s_v_'

In [74]:
sorted("hellooo")

['e', 'h', 'l', 'l', 'o', 'o', 'o']

In [75]:
first_name = 'Ada'
last_name = 'Lovelace'

In [78]:
"Ada Lovelace\'s initials are {}, {}.".format(first_name[0], last_name [0])

"Ada Lovelace's initials are A, L."

In [79]:
f'Ada Lovelace\'s initials are{first_name[0]}.'

"Ada Lovelace's initials areA."

In [80]:
str(20)

'20'

In [81]:
7 == 7 and 32>0

True

In [82]:
def are_anagrams(str1, str2):
    # Convert both strings to lowercase
    str1 = str1.lower()
    str2 = str2.lower()
    
    # Remove spaces from both strings
    str1 = str1.replace(" ", "")
    str2 = str2.replace(" ", "")
    
    # Check if the sorted characters of both strings are equal
    return sorted(str1) == sorted(str2)

In [83]:
print(are_anagrams("Slient", "Listen"))

True

In [84]:
def are_anagrams(str1, str2, is_case_sensitive=False):
    # Optionally convert strings to lowercase if case sensitivity is not required
    if not is_case_sensitive:
        str1 = str1.lower()
        str2 = str2.lower()
    
    # Remove spaces from both strings
    str1 = str1.replace(" ", "")
    str2 = str2.replace(" ", "")
    
    # Check if the sorted characters of both strings are equal
    return sorted(str1) == sorted(str2)

In [85]:
are_anagrams("Slient", "Listen", True)

False

In [86]:
are_anagrams("Slient", "listen", False)

True